main {
  padding-top: 30px;
  margin: auto;
}

.plan {
  background: rgba(215, 255, 215, 0.95);
  border: 3px solid #0e4f1f;
  border-left: none;
  border-radius: 0 20px 20px 0;
  width: 60%;
  padding: 20px;
  margin: 20px 0;
}

.plan:hover,
.plan:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-color: #ff7676;
}

.plan a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.plan__tagline {
  color: #777777;
  font-size: 1.25em;
}

.plan__description {
  background: white;
  border: 1px solid #0e4f1f;
  font-size: 1em;
  padding: 10px;
}
.plan-free {
  float: right;
  border-left: 3px solid #0e4f1f;
  border-right: none;
  border-radius: 20px 0 0 20px;
}

.clearfix {
  clear: both;
}

.plan-premium {
  background: rgba(14, 79, 31, 0.95);
  border-color: #d7ffd7;
}

.plan-premium .plan__title {
  color: white;
}

.plan-premium .plan__tagline {
  color: #a1a1a1;
}

.plan-premium .plan__description {
  border-color: #d7ffd7;
}
