@import "~antd/dist/antd.css";
@import url("http://fonts.googleapis.com/css?family=Lato:400,700");
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@800");

* {
  font-family: "Lato", sans-serif;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 8vh;
  background-color: #055197;
}

.App-content {
  height: 86vh;
  font-size: 1.5rem;
}

.App-footer {
  background-color: rgb(175, 175, 175);
  color: rgb(63, 63, 65);
  height: 6vh;
}

.ProvSvc-grid {
  display: grid;
  grid-template-rows: 8% 92%;
  height: 86vh;
  padding: 0px;
}

.ProvSvc-toolbar {
  background: #d4d4d4;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #afafaf;
  justify-content: center;
}

.ProvSvc-tb-button {
  padding: 0 15px;
  border-color: black;
}

.Button-icon {
  margin-right: 5px;
  vertical-align: middle;
}
