.App-logo {
}

.App-logo-text {
  color: white;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 40px;
  margin: 0 10px;
  vertical-align: middle;
}

.App-logo-img {
  margin: 0;
  vertical-align: middle;
}
